<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>ConstruSmart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <img src="assets/img/ConstruSmart2025-06-24 at 17.28.18.jpeg"  width="250px">

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link  link-personalizado" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  link-personalizado" href="about.html">sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  link-personalizado" href="consultoria.html">consultoria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  link-personalizado" href="contact.html">Contato</a>
                        </li>
                    </ul>
                     
                </div>
                     
                </div>
                 <a href="aluguel.html" class="btn btn-primary "> Disponibiize sua ferramenta !</a>
            </div>
               
        </div>
    </nav>

    <!--search-->
    <nav class="navbar bg-body-tertiary" style="margin-top: 10px;">
  <div class="container-fluid">
    <form class="d-flex" role="search" style="width: 50%;">
      <input class="form-control me-2" type="search" placeholder="pesquisar" aria-label="Search"/>
      <button class="btn btn-primary" type="submit">pesquisar</button>
    </form>
  </div>
</nav>

<!--card ilustrativo-->
<div class="card" style="width: 18rem;">
  <img src="https://img.olx.com.br/images/95/959596398213543.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">kit de ferramenta para pedreiro </h5>
    <p class="card-text">Este e o kit de pedreiro que pode atender melhor sua necessidade .</p>
    <h5 class="card-title">R$ 66,00</h5>
    <a href="#" class="btn btn-primary"> Alugue agora !</a>
  </div>
</div>
        
    </body>